%section.cover-section{style: "background-image: url(#{asset_url('notepad.png')})"}
  .container
    %h3
      나여기 캠페인 시즌 2:
    %h1
      2017'
      %br.visible-xs
      지금 여기
      %br.visible-xs
      여성차별



