%section.cover-section{style: "background-image: url(#{asset_url('notebook.png')})"}
  .container
    %h3
      나여기 캠페인 시즌 2:
    %br
    %table.table.table-bordered
      %tr
        %td
          20
        %td
          17
        %td
          '
        %td
        %td
      %tr.interval
        %td{colspan:"5"}
      %tr
        %td
          지
        %td
          금
        %td

        %td
          여
        %td
          기
      %tr.interval
        %td{colspan:"5"}
      %tr
        %td
          여
        %td
          성
        %td
        %td
          차
        %td
          별
    %button.btn.btn-lg.btn-forward-poll{onclick:'window.open(\'https://goo.gl/yUVCgU\')'}
      내가 겪은 여성 차별 경험 쓰기
      %i.glyphicon.glyphicon-chevron-right


