%section.cover-section{style: "background-image: url(#{asset_url('notepad.png')})"}
  .container
    %h3
      나여기 캠페인 시즌 2:
    %br
    %div{style:"display:inline-block"}
      %table.table.table-bordered
        %tr
          %td
            20
          %td
            17
          %td
            '
          %td
          %td
        %tr.interval
          %td{colspan:"5"}
        %tr
          %td
            지
          %td
            금
          %td

          %td
            여
          %td
            기
        %tr.interval
          %td{colspan:"5"}
        %tr
          %td
            여
          %td
            성
          %td
          %td
            차
          %td
            별
      %button.btn.btn-lg.btn-forward-poll{onclick:'window.open(\'https://goo.gl/yUVCgU\')'}
        내가 겪은 차별 경험 쓰기
        %i.fa.fa-pencil
    .intro
      Again 2017 <br/>
      한국에서  <br/>
      여성으로 산다는 것<br/>
      %br
      왠지 사소한 것 같아서<br/>
      문제제기 하기 어려웠던 이야기<br/>
      하지만 불편했던 일상에 이름을 붙여 주세요<br/>
      당신이 겪거나 목격한 차별 경험을 들려주세요<br/>

    .button-area



