%section.footer
  .container
    .logo{style: "background-image:url(#{asset_url('minwoo_logo.png')})"}
    .logo{style: "background-image:url(#{asset_url('wouldyou_logo1.png')})"}
    .logo{style: "width:110px;background-image:url(#{asset_url('fes_logo.png')})"}
