%section.footer
  .container
    %p{style:"float:left;text-align:left"}
      %span{style:"font-size:11px"}
        이 캠페인은 에버트재단의 후원을 받아 민우회와 우주당이 함께 제작했습니다
      %br
      %i.fa.fa-envelope-open-o
        minwoo@womenlink.or.kr
    .logo{style: "background-image:url(#{asset_url('minwoo_logo.png')})"}
    .logo{style: "background-image:url(#{asset_url('wouldyou_logo1.png')})"}
    .logo{style: "width:110px;background-image:url(#{asset_url('fes_logo.png')})"}
