.modal.fade.modal-fade#infoModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          나여기 캠페인이란?
      .modal-body
        %p
          나여기 캠페인은 ‘나의 여성차별 드러내기’ 캠페인의 준말로 1999년 민우회가 진행한 프로젝트입니다.
          %br
          이 프로젝트로 2,050여건의 성차별 사례를 수집했으며 순위가 높은 11가지의 성차별 및 사회적 과제를 발표하고 사회문화적으로 뿌리 깊은 성차별을 해결하기 위한 활동을 이어왔습니다.
        %p{style:"padding:20px;line-height:25px;border:4px solid #eeeeee"}
          %span.label.label-default
            1위
          &nbsp;명절, 제사상의 성차별 ("명절, 여자에겐 중노동, 남자에겐 쉬는 날")
          %br
          %span.label.label-default
            2위
          &nbsp;양육상의 성차별 ("아들하나 열 딸 안부럽다")
          %br
          %span.label.label-default
            3위
          &nbsp;학교, 직장, 공공장소에서의 성희롱 ("여자의 NO는 YES")
          %br
          %span.label.label-default
            4위
          &nbsp;도로상의 성차별 ("집에서 애나 보지, 여자가 웬 운전?)
          %br
          %span.label.label-default
            5위
          &nbsp;수업내용상의 성차별 ("여자가 공부는 뭐하러 해? 시집만 잘가면 되지")
          %br
          %span.label.label-default
            6위
          &nbsp;커피, 카피, 잔심부름 ("미스김, 커피 한잔")
          %br
          %span.label.label-default
            7위
          &nbsp;모집과 채용상의 성차별 ("이왕이면 날씬하고 어려야")
          %br
          %span.label.label-default
            8위
          &nbsp;선정적 광고 ("벗길수록 잘 팔린다")
          %br
          %span.label.label-default
            9위
          &nbsp;생활관습상의 금기와 터부 ("여자가 아침부터 재수없게")
          %br
          %span.label.label-default
            10위
          &nbsp;신용상의 성차별 ("남편의 보증이 필요해요")
          %br
          %span.label.label-default
            11위
          &nbsp;성차별적 민원태도 ("아줌마 등본나왔어요")
      .modal-footer
        %button.btn.btn-default{type:'button', data:{dismiss:'modal'}} 창 닫기
