%section.results-section
  .container.tags-area
    %button.btn{type:"button",onclick:"location.href=\'?spot=1\'"}
      운전하거나 대중교통 이용시
    %button.btn{type:"button",onclick:"location.href=\'?spot=2\'"}
      은행 대출, 부동산 계약과 같은 신용관련 업무 안에서
    %button.btn{type:"button",onclick:"location.href=\'?spot=3\'"}
      가족관계에서
    %button.btn{type:"button",onclick:"location.href=\'?spot=4\'"}
      일터에서
    %br
    %button.btn{type:"button",onclick:"location.href=\'?spot=5\'"}
      학교(유치원, 초중고 대학교 등)에서
    %button.btn{type:"button",onclick:"location.href=\'?spot=6\'"}
      커뮤니티(동창회, 취미모임 등) 안에서
    %button.btn{type:"button",onclick:"location.href=\'?spot=7\'"}
      친밀한 관계(애인, 친구 등) 안에서
    %button.btn{type:"button",onclick:"location.href=\'?spot=8\'"}
      대중매체에서
    %button.btn{type:"button",onclick:"location.href=\'?spot=9\'"}
      기타
  .container
    .results-area
      - @feedbacks.each do |feedback|
        - feedback.find_cases(@spot).each do |caze|
          - if caze["content"].present?
            .box
              = caze["content"]
              .author
                #{feedback.region} 거주, #{feedback.age}
              .spot
                #{caze["where"]}

