%section.results-section
  .container.tags-area
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      직장에서
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      tags1
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      tags1
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      tags1
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      tags1
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      tags1
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      tags1
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      tags1
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      tags1
  .container
    .box
      test
    .box
      test
    .box
      test

