%section.results-section
  .container.tags-area
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      운전하거나 대중교통 이용시
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      병원 및 의료서비스 기관
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      은행 대출, 부동산 계약과 같은 신용관련 업무 안에서
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      가족관계에서
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      직장에서
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      학교에서
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      커뮤니티 안에서
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      친밀한 관계 안에서
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      대중매체에서
    %button.btn{type:"button"}
      %i.glyphicon.glyphicon-map-marker
      기타
  .container
    .results-area
      .box
        배우자, 정상가족이념에서의 가족을 벗어나 파트너와 꾸려진, 또는 다른 비혼여성들과 꾸려진 공동체도 제도적으로 보호받을 수 있는 국가를 원한다.
        .author
          서울특별시 거주, 20대 이상
      .box
        곧마흔입니다. 이는 곧 40년간 여성으로서 차별받고 살아왔다는 뜻입니다. 앞으로 남은 인생은 성평등한 세상에서 살고 싶습니다. 어쨌든 저도 가만있지는 않겠지요.
        .author
          부산광역시 거주, 40대 이상
      .box
        가정폭력은 더 이상 '집안일', '남의 가정사'가 아니고 다른 사람의 인권을 침해하는 범죄행위입니다. 가해자는 반드시 처벌받아야합니다.
        .author
          광주광역시 거주, 30대 이상
      .box
        배우자, 정상가족이념에서의 가족을 벗어나 파트너와 꾸려진, 또는 다른 비혼여성들과 꾸려진 공동체도 제도적으로 보호받을 수 있는 국가를 원한다.
        .author
          서울특별시 거주, 20대 이상
      .box
        곧마흔입니다. 이는 곧 40년간 여성으로서 차별받고 살아왔다는 뜻입니다. 앞으로 남은 인생은 성평등한 세상에서 살고 싶습니다. 어쨌든 저도 가만있지는 않겠지요.
        .author
          부산광역시 거주, 40대 이상
      .box
        가정폭력은 더 이상 '집안일', '남의 가정사'가 아니고 다른 사람의 인권을 침해하는 범죄행위입니다. 가해자는 반드시 처벌받아야합니다.
        .author
          광주광역시 거주, 30대 이상

