%meta{:property => "og:url", :content => "http://minwoo-poll.parti.do"}
%meta{:property => "og:site_name", :content => "2017` 지금 여기 여성 차별"}
%meta{:property => "og:title", :content => "2017` 지금 여기 여성 차별"}
%meta{:property => "og:image", :content => "http://minwoo-poll.parti.do/seo.png"}
= render 'about'

= render 'results'

= render 'footer'

= render 'modal'
