.cover-section{
  height:500px;
  padding:50px 40px;
  background-size:cover;
  color:#ffffff;
  @media (max-width: $screen-xs-max) {
    padding:10px !important;
    height:660px !important;
    .container{  text-align:center; }
    table{  margin:20px auto !important;  }
    button.btn-forward-poll{  width:258px !important;  }
  }
  h1{
    font-size:70px;
    font-weight:200;
    letter-spacing:-0.08em;
  }
  h3{
    font-weight:200;
    font-size:20px;
    letter-spacing:0.2em;
    margin-bottom:-20px;
    color:#ffffff;
  }
  .intro{
    display:inline-block;
    letter-spacing:-0.02em;
    font-weight:300;
    padding:20px;
    margin-left:50px;
    border-left:3px solid #ffffff;
    text-align:left;
    @media (max-width: $screen-xs-max){
      border-left:0px !important;
      margin-left:0px !important;
      padding:20px 10px !important;
    }
  }
  .intro-label{
    font-size:11px;
    font-weight:200;
    letter-spacing:0.2em;
    background-color:#4b444e;
    cursor:pointer;
    &:hover{
      background-color:lighten(#4b444e,10%) !important;
    }
  }
  table{
    margin:20px 0px;
    width:300px;
    @media (max-width: $screen-xs-max) {
      width:258px;
    }
    td{
      border:1px solid #ddafff !important;
      font-family:'Nanum Myeongjo', serif;
      font-size:40px;
      text-align:center;
      width:60px;
      height:60px;
    }

    tr.interval > td{
      height:5px;
    }
  }
  button.btn-forward-poll{
    width:300px;
    font-weight:600;
    //border: 1px solid #a9a9a9;
    color: #ffffff;
    //font-family: 'Nanum Myeongjo', serif;
    background-color:rgba(147, 42, 239, 0.7);
    &:hover{
      box-shadow:0px 0px 5px 3px rgba(255,255,255,0.3);
    }
  }
}
