.cover-section{
  background-color:purple;
  height:600px;
  padding:80px 40px;
  background-size:cover;
  color:#ffffff;
  h1{
    font-size:70px;
    font-weight:200;
    letter-spacing:-0.08em;
  }
}
