.logo{
  display:inline-block;
  height:80px;
  width:80px;
  background-size:contain;
  margin-right:5px;
  background-repeat:no-repeat;
  @media (max-width: $screen-xs-max) {
    height:50px;
    width:50px;
  }
}
nav > .container-fluid{
  @media (max-width: $screen-xs-max) {
    height:60px !important;
  }
}
