.results-section{
  padding:20px 0px;
  border-top: 2px solid #cfdade;
  background: -moz-linear-gradient(122deg, rgba(150,157,176,1) 0%, rgba(255,255,255,1) 100%) !important; /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(150,157,176,1))) !important;         /* safari4+,chrome */
  background: -webkit-linear-gradient(122deg, rgba(150,157,176,1) 0%, rgba(255,255,255,1) 100%) !important; /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(122deg, rgba(150,157,176,1) 0%, rgba(255,255,255,1) 100%) !important; /* opera 11.10+ */
  background: -ms-linear-gradient(122deg, rgba(150,157,176,1) 0%, rgba(255,255,255,1) 100%) !important; /* ie10+ */
  background: linear-gradient(328deg, rgba(150,157,176,1) 0%, rgba(255,255,255,1) 100%) !important; /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#969DB0',GradientType=0 ) !important; /* ie6-9 */

  .tags-area{
    margin-bottom:20px;
    button{
      margin:5px;
      background-color:#9885ab;
      color:#ffffff;
      border-radius:2px;
      font-weight:100;
      letter-spacing:-0.02em;
      &:hover{
        background-color:darken(#9885ab,20%);
      }
    }
  }
  .results-area{
    font-family: 'Noto Sans KR', sans-serif;
    margin:0 auto;
    max-width:930px;
  }

  .box{
    font-weight:300;
    letter-spacing:-0.05em;
    padding:20px;
    background-color:#ffffff;
    border:3px solid #ffffff;
    width:290px;
    margin-bottom:10px;
    &:hover{
      border-color:#efefef;
      box-shadow:1px 1px 5px 2px #d0d0d0;
    }
    .author{
      font-size:12px;
      padding-top:10px;
      color:#3c83bf;
    }
    .spot{
      font-size:12px;
      font-weight:600;
      color:#3c83bf;
    }
  }
}
